# Imports workflow

In [3]:
import selenium as sl
print(sl.__version__)

3.141.0

## Libraries

Starting loading some libraries

In [1]:
import datetime as dt
import requests
import xml.etree.ElementTree as ET
import pandas as pd

In [2]:
import re

In [19]:
def string2number(x):
    y = y.findall("[\d]", x)
    y = ''.join(y)
    return y

def get_correct_exr(x):
    if len(x) == 5:
        y = pd.to_numeric(x) / 100
        return y
    if len(x) == 3:
        y = pd.to_numeric(x)
        return y
    raise ValueError("Not correct len for string (must be 5 or 3)")

In [22]:
buy = "¢662,00"
buy2 = string2number(buy)
# buy2 = re.findall("[\d]", buy)
# buy2 = ''.join(buy2)
print(buy2)

UnboundLocalError: local variable 'y' referenced before assignment

Now we create our parameters to pass in the expect call to the API of BCCR

In [17]:
base = "https://gee.bccr.fi.cr/Indicadores/Suscripciones/WS/wsindicadoreseconomicos.asmx/ObtenerIndicadoresEconomicos?"
final_day = dt.datetime.now().date().replace(month=12, day=31).strftime("%d/%m/%Y")
params_bccr = {
    "Indicador" : "1993",
    "FechaInicio" : "01/01/1999",
    "FechaFinal" : final_day,
    "Nombre" : "Marlon",
    "Subniveles" : "S",
    "CorreoElectronico" : "marlonmolina00@hotmail.com",
    "Token" : "7L5MCOLMO2"
}

We do the call

In [34]:
response = requests.get(base, params=params_bccr)
print(response.status_code)
# print(response.content)

200

In [55]:
root = ET.fromstring(response.content)
rows = {
    "cod": [x.text for x in root.findall(".//COD_INDICADORINTERNO")],
    "date": [x.text for x in root.findall(".//DES_FECHA")],
    "value": [x.text for x in root.findall(".//NUM_VALOR")],
}
raw_df = pd.DataFrame(rows)

We create a month and year col

In [62]:
raw_df["date"] = pd.to_datetime(raw_df["date"])
raw_df["year"] = raw_df.date.dt.year
raw_df["month"] = raw_df.date.dt.month
raw_df

      cod                      date           value  year  month
0    1993 1999-01-31 00:00:00-06:00    539.68200000  1999      1
1    1993 1999-02-28 00:00:00-06:00   1070.75189383  1999      2
2    1993 1999-03-31 00:00:00-06:00   1670.59579383  1999      3
3    1993 1999-04-30 00:00:00-06:00   2159.76099634  1999      4
4    1993 1999-05-31 00:00:00-06:00   2678.14828913  1999      5
..    ...                       ...             ...   ...    ...
273  1993 2021-10-31 00:00:00-06:00  14719.38328990  2021     10
274  1993 2021-11-30 00:00:00-06:00  16570.83413104  2021     11
275  1993 2021-12-31 00:00:00-06:00  18428.33820539  2021     12
276  1993 2022-01-31 00:00:00-06:00   1747.47579444  2022      1
277  1993 2022-02-28 00:00:00-06:00   3459.12854902  2022      2

[278 rows x 5 columns]

Now we filter the month 12 and a specif year of study (which the current year)

In [82]:
current_year = dt.datetime.now().year
agg_imp = raw_df.query("month == 12 | year == @current_year")
agg_imp.loc[:, "date"] = dt.datetime.now()
agg_imp

C:\Users\Marlon.molina\AppData\Local\Temp\ipykernel_24116\4019492383.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agg_imp.loc[:, "date"] = dt.datetime.now()

      cod                       date           value  year  month
11   1993 2022-04-13 00:58:26.670808   6354.59765207  1999     12
23   1993 2022-04-13 00:58:26.670808   5544.82180287  2000     12
35   1993 2022-04-13 00:58:26.670808   5492.92729326  2001     12
47   1993 2022-04-13 00:58:26.670808   5958.10518467  2002     12
59   1993 2022-04-13 00:58:26.670808   6362.64871927  2003     12
71   1993 2022-04-13 00:58:26.670808   6903.63167723  2004     12
83   1993 2022-04-13 00:58:26.670808   7989.87321559  2005     12
95   1993 2022-04-13 00:58:26.670808   9168.15301413  2006     12
107  1993 2022-04-13 00:58:26.670808  10706.62399660  2007     12
119  1993 2022-04-13 00:58:26.670808  13027.30821803  2008     12
131  1993 2022-04-13 00:58:26.670808   9579.76074336  2009     12
143  1993 2022-04-13 00:58:26.670808  11544.88143232  2010     12
155  1993 2022-04-13 00:58:26.670808  13827.50155267  2011     12
167  1993 2022-04-13 00:58:26.670808  14915.17752702  2012     12
179  1993 2022-04-13 00:58:26.670808  15088.46137219  2013     12
191  1993 2022-04-13 00:58:26.670808  15561.69293709  2014     12
203  1993 2022-04-13 00:58:26.670808  14746.10019615  2015     12
215  1993 2022-04-13 00:58:26.670808  15230.89362532  2016     12
227  1993 2022-04-13 00:58:26.670808  15917.33683954  2017     12
239  1993 2022-04-13 00:58:26.670808  16569.40951826  2018     12
251  1993 2022-04-13 00:58:26.670808  15936.62041900  2019     12
263  1993 2022-04-13 00:58:26.670808  13990.70271647  2020     12
275  1993 2022-04-13 00:58:26.670808  18428.33820539  2021     12
276  1993 2022-04-13 00:58:26.670808   1747.47579444  2022      1
277  1993 2022-04-13 00:58:26.670808   3459.12854902  2022      2